{% extends "base.html.twig" %}

{% block title %}
    BlogSymfony | Détails de l'article
{% endblock %}



{% block body %}

  <!-- <h1 class="text-center my-5">Détails de l'article {{ article.id }}</h1> -->

  {# cet objet 'article' ne sort pas de nulle part, c'est ce que le controller à transmis au template, c'est-à-dire les informations d'un article séléctionné en bdd en fonction de l'id transmis dans l'url #}

  {#  {{ dump(article) }} #}

  {# Affichage des messages utlisateurs stockés en session (addFlash dans le controller) #}
  {# app : objet twig qui contient toutes les informations dela session en cours #}
  {% for message in app.flashes('success') %}
      <div class="col-6 mx-auto text-center alert alert-success">
          {{ message }}
      </div>
  {% endfor %}

  {% if article.photo != null %}
      {% set col = 8 %} {# set permet de déclarer des variables en Twig #}
  {% else %}
      {% set col = 12 %}
  {% endif %}



  <div class="col-md-12">


    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
      <div class="col-{{ col }} p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">{{ article.category.titre }}</strong>
        <h3 class="mb-0">{{ article.titre }}</h3>
        <div class="mb-1 text-muted">{{ article.date|date("Y-m-d") }} à {{ article.date|date("H:i:s") }}</div>

        <p class="card-text mb-auto">{{ article.contenu|striptags }}</p>

        <p class="mt-3">
          <a href="{{ path('blog_edit', {'id': article.id}) }}" class="btn btn-warning">Modifier</a>
          <a href="#" class="btn btn-warning">Imprimer</a>
        </p>
      </div>

      {% if article.photo != null %}

      <div class="col-4 d-none d-lg-block">

          <img src="{{ asset('upload/photos/' ~ article.photo) }}" alt="{{ article.titre }}" class="col-12 img-responsive">
      </div>

      {% endif %}


      </div>
    </div>




<h2 class="mt-4">Derniers avis</h2>


{# article.comments est un ensemble de résultats qui contient tous les commentaires liés à l'article stocké en BDD #}

{# En sélectionnant l'article en BDD, nous avons automatiquement accès à toutes les correspondances dans les autres tables SQL (relation bi-directionnelle) #}

{# comment est une variable qui receptionne 1 ligne de commentaire par tour de boucle FOR #}

{# Si article.comments n'est pas vide, cela veut dire qu'il y a des commentaires postés, on entre dans le IF #}
{% if article.comments is not empty %}
      {% for comment in article.comments %}

         {#{{ dump(comment) }} #}


          <div class="d-flex justify-content-between shadow-sm p-2 mb-3">
              <div class="col-4">
              Publié par <strong>{{ comment.auteur }}</strong> <small>(le {{ comment.date|date('d/m/Y') }} à {{ comment.date|date('H:i:s') }})</small>
              </div>
              <div class="col-7">
                {{ comment.commentaire|raw }}
              </div>
          </div>
      {% endfor %}

{% else %}
      <p class="fts-italic text-center mb-5">Soyez le premier à donner votre avis</p>
{% endif %}

<!-- Exo : Réaliser un formulaire permettant d'insérer des nouveaux commentaires en BDD
            1. Créer le formulaire à partir de l'entité Comment (make:form)
            2. Dans le controller, il faut importer et créer le formulaire (createForm)
            3. Afficher le formulaire sur le template (form_start() / form_row())
            4. A la validation du formulaire, executer la requete d'insertion (persist()/ flush())
            5. Après l'insertion, rediriger l'internaute et afficher un message de validation (addFlash)
            6. Faites en sorte d'afficher 'soyez le premier à poster un commentaire' si aucun commentaire n'est assoxié à l'article -->

<h2 class="text-center my-5">Soumettre un commentaire</h2>

  {% if app.user %}
        {{ form_start(formComm) }}

            {{ form_widget(formComm) }}

            <button type="submit" class="btn btn-warning btn-blog mb-5 ">Poster

        {{ form_end(formComm) }}

  {% else %}

      <p><a class="link-secondary" href="{{ path('app_login') }}">Identifiez-vous</a> ou <a class="link-secondary" href="{{ path('app_register') }}"></p>
  {% endif %}




{% endblock %}
