{% extends "base_admin.html.twig" %}

{% block title %}
    Blog Symfony | BACKOFFICE | Modification de l'article
{% endblock %}


{% block body %}

{{ form_start(formArticle) }}

    {{ form_row(formArticle.titre) }}

    {{ form_row(formArticle.category) }}

    {{ form_row(formArticle.contenu) }}

    {{ form_row(formArticle.photo) }}


    {# Si photoActuelle retourne TRUE, cela veut dire que l'article possède une photo, c'est une modification, alors on entre dans la condition IF et on affice la photo actuelle de l'article #}
    {% if photoActuelle %}
      <em>Vous pouvez uploader une nouvelle photo si vous souhaitez la modifier</em>
      <p class="col-2">
          <img src="{{ asset('upload/photos/' ~ photoActuelle) }}" alt="" class="col-12 img-responsive">
      </p>
    {% endif %}
    <button type="submit" class="btn btn-dark btn-blog mb-5 ">

         {% if editMode %}
          Enregistrer les modifications
          {% else %}

          Enregistrer
          {% endif %}

{{ form_end(formArticle) }}


{% endblock %}
